# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
.installed.cfg
*.egg-info/
*.egg

# Django specific
local_settings.py
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal

# Celery
celerybeat-schedule
celerybeat.pid

# Environments (virtualenv)
.env
.env.local
.docker.env
.venv/
env/
venv/
service-account.json
.secrets

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
