<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
{% load static tailwind_tags %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Economica:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Economica', sans-serif;
        }
    </style>
    <title>{% block title %}Redegg{% endblock %}</title>
    {% load static %}
    {% tailwind_css %}
</head>

<body class="flex flex-col min-h-screen">
    <header>
        <!-- Add your header content here -->
        <nav class="navbar bg-base-100">
            <div class="navbar-start ">
                <a class="btn btn-ghost text-2xl" href="/">Redegg</a>
                <div x-data="{ open: false }" class="shadow-md md:shadow-none">
                    <div class="container mx-auto flex justify-between items-center p-4">
                      <button @click="open = !open" class="md:hidden text-gray-400">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-6 h-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h16"
                            />
                          </svg>
                        </button>
                        <div class="hidden md:flex space-x-3">
                            <a class="btn btn-ghost normal-case text-xl whitespace-nowrap {% if request.path == '/contests/' %}bg-gray-300{% endif %}" href="/contests">All contests</a>
                            <a class="btn btn-ghost normal-case text-xl whitespace-nowrap {% if request.path == '/predictions/' %}bg-gray-300{% endif %}" href="/predictions">My Predictions</a>
                        </div>
                        <div
                          x-show="open"
                          x-transition:enter="transform ease-out duration-300 transition-translate-opacity"
                          x-transition:enter-start="translate-y-10 opacity-0"
                          x-transition:enter-end="translate-y-0 opacity-100"
                          x-transition:leave="transform ease-in duration-300 transition-translate-opacity"
                          x-transition:leave-start="translate-y-0 opacity-100"
                          x-transition:leave-end="translate-y-10 opacity-0"
                          class="lg:hidden space-y-2 flex flex-col"
                      >
                          <a class="btn btn-ghost normal-case text-xl whitespace-nowrap {% if request.path == '/contests/' %}bg-gray-300{% endif %}" href="/contests">All contests</a>
                          <a class="btn btn-ghost normal-case text-xl whitespace-nowrap {% if request.path == '/predictions/' %}bg-gray-300{% endif %}" href="/predictions">My Predictions</a>
                          {% if user.is_authenticated %}
                          <a class="btn btn-ghost normal-case text-xl whitespace-nowrap {% if request.path == '/logout/' %}bg-gray-300{% endif %}" href="/logout">Logout</a>
                          {% endif %}
                    </div>
                </div>
              </div>
            </div>
            <div class="navbar-end">
                {% if user.is_authenticated %}
                <div class="dropdown dropdown-end hidden md:block">
                    <label tabindex="0" class="btn btn-ghost">
                    <p class="text-xl bold mr-4">Welcome {{ user.username }} !</p>
                </label>
                <ul
                  tabindex="0"
                  class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
                >
                  <li>
                    <a href="{% url 'logout' %}" class="text-lg">Logout</a>
                  </li>
                </ul>
              </div>
                {% else %}
                    <a href="{% url 'login' %}" class="btn btn-accent btn-lg">Login</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <main class="max-w-2xl mx-auto my-10 rounded-md p-6">
        <!-- Content from child templates will be inserted here -->
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>

{% block javascript %}
{% endblock %}

{% block css %}
{% endblock %}