<!DOCTYPE html>
<html lang="en" data-theme="cupcake">
{% load static tailwind_tags %}
{% load i18n %}
{% load allauth %}
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Economica:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
  <style>
      body {
          font-family: 'Roboto Condensed', sans-serif;
      }
  </style>
  <title>{% block title %}Redegg{% endblock %}</title>
  {% load static %}
  {% tailwind_css %}
</head>

<body class="flex flex-col min-h-screen">
  <header>
    <nav class="navbar bg-base-100 p-2">
      <div class="navbar-start">
        <a class="btn btn-ghost text-2xl mr-4" href="/">Redegg</a>
        <div class="container">
          <div class="flex gap-2">
              <a class="btn btn-ghost normal-case text-xl whitespace-nowrap {% if request.path == '/contests/' %}bg-gray-300{% endif %}" href="/contests">All contests</a>
              <a class="btn btn-ghost normal-case text-xl whitespace-nowrap {% if request.path == '/predictions/' %}bg-gray-300{% endif %}" href="/predictions">My Predictions</a>
              {% now "Y" as current_year %}
              <a class="btn btn-ghost normal-case text-xl whitespace-nowrap {% if request.path == '/leaderboard/'|add:current_year|add:'/' %}bg-gray-300{% endif %}" href="/leaderboard/{{ current_year}}">Leaderboard</a>
          </div>
        </div>
      </div>
      <div class="navbar-center">
        <h2 class="text-2xl font-bold mx-auto"></h2>
      </div>
      <div class="navbar-end">
        <a class="text-lg underline mr-4" target="_blank" href="/rules">Rules</a>
        {% if user.is_authenticated %}
        <div class="dropdown dropdown-end hidden md:block">
          <label tabindex="0" class="btn btn-ghost text-xl bold mr-2">
            {% include 'elements/user.html' with username=user.profile.display_username avatar_url=user.profile.avatar_url classes="text-lg bold mr-4" size=8 %}
          </label>
          <ul
            tabindex="0"
            class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
          >
          {% url 'account_logout' as action_url %}
          {% element form method="post" action=action_url no_visible_fields=True %}
              {% slot body %}
                  {% csrf_token %}
                  {% if redirect_field_value %}
                      <input type="hidden"
                             name="{{ redirect_field_name }}"
                             value="{{ redirect_field_value }}" />
                  {% endif %}
              {% endslot %}
              {% slot actions %}
                  {% element button type="submit" classes="btn btn-ghost btn-block text-left" %}
                      {% trans 'Sign Out' %}
                  {% endelement %}
              {% endslot %}
          {% endelement %}
          </ul>
        </div>
        {% else %}
        <a href="{% url 'account_login' %}" class="btn btn-primary px-12">Login</a>
        {% endif %}
      </div>
    </nav>
  </header>

  <main class="max-w-4xl mx-auto my-10 rounded-md p-6">
      {% block content %}
      {% endblock %}
  </main>
</body>

</html>

{% block javascript %}
{% endblock %}

{% block css %}
{% endblock %}